<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>NeoInformatique</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Less styles
    <link rel="stylesheet/less" type="text/css" href="less/bootsshop.less">
    <script src="less.js" type="text/javascript"></script>
     -->

    <!-- Le styles  -->
    <link href="{{asset('bundles/frontoffice/assets/css/bootstrap.css')}}" rel="stylesheet"/>
    <link href="{{asset('bundles/frontoffice/assets/css/bootstrap-responsive.css')}}" rel="stylesheet"/>
    <link href="{{asset('bundles/frontoffice/assets/css/docs.css')}}" rel="stylesheet"/>

    <link href="{{asset('bundles/frontoffice/style.css')}}" rel="stylesheet"/>
    <link href="{{asset('bundles/frontoffice/assets/js/google-code-prettify/prettify.css')}}" rel="stylesheet"/>


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{asset('bundles/frontoffice/assets/ico/favicon.ico')}}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('bundles/frontoffice/assets/ico/apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('bundles/frontoffice/assets/ico/apple-touch-icon-114-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('bundles/frontoffice/assets/ico/apple-touch-icon-72-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" href="{{asset('bundles/frontoffice/assets/ico/apple-touch-icon-57-precomposed.png')}}">
    {% endblock %}
</head>
<body>

<!-- Navbar
  ================================================== -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a id="logoM" href="{{ path('front_office_homepage') }}"><img src="{{asset('bundles/frontoffice/assets/img/logo.png')}}" alt="Bootsshop"/></a>
            <a data-target="#sidebar" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class=""><a href="{{ path('back_office_homepage') }}">Dashboard</a></li>
                    <li class=""><a href="{{ path('Back_office_ajouterproduit') }}">Gestion produits</a></li>
                    <li class=""><a href="#">Gestion des Commandes</a></li>
                    <li class=""><a href="#">Gestion Utilisateurs</a></li>
                    <li class=""><a href="#">Messages</a></li>
                </ul>
                <form action="#" class="navbar-search pull-left">
                    <input id="srchFld" type="text" placeholder="I'm looking for ..." class="search-query span5"/>
                </form>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="front_office_login">Login <b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <h6><a href="{{ path('front_office_homepage') }}">Se deconnecter</a></h6>
                        </div>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>
<!-- ======================================================================================================================== -->
<div id="mainBody" class="container">
    <header id="header">
        <div class="row">
            <div class="span12">
                <a href="{{ path('front_office_homepage') }}"><img src="{{ asset('bundles/frontoffice/assets/img/logo.png') }}" alt="Bootsshop"/></a>
                <div class="pull-right"> <br/>
                    <a href="{{ path('front_office_resumerproduit') }}"> <span class="btn btn-mini btn-warning"> <i class="icon-shopping-cart icon-white"></i> [ 3 ] </span> </a>
                    <a href="{{ path('front_office_resumerproduit') }}"><span class="btn btn-mini active">$155.00</span></a>
                    <span class="btn btn-mini">&pound;</span>
                    <span class="btn btn-mini">&euro;</span>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </header>
    <!-- ========================Header End========================================= -->


{% block body %}
{% endblock %}


    <!-- Footer ---------------------------------- -->
    <hr class="soft">
    <div  id="footerSection">
        <div class="row">
            <div class="span3">
                <h5>ACCOUNT</h6>
                    <a href="{{ path('front_office_login') }}">YOUR ACCOUNT</a>
                    <a href="{{ path('front_office_login') }}">PERSONAL INFORMATION</a>
                    <a href="{{ path('front_office_login') }}">ADDRESSES</a>
                    <a href="{{ path('front_office_login') }}">DISCOUNT</a>
                    <a href="{{ path('front_office_login') }}">ORDER HISTORY</a>
            </div>
            <div class="span3">
                <h5>INFORMATION</h5>
                <a href="{{ path('front_office_contact') }}">CONTACT</a>
                <a href="{{ path('front_office_inscription') }}">REGISTRATION</a>
                <a href="{{ path('front_office_mentionslegales') }}">LEGAL NOTICE</a>
                <a href="{{ path('front_office_mentionslegales') }}">TERMS AND CONDITIONS</a>
                <a href="{{ path('front_office_mentionslegales') }}">FAQ</a>
            </div>
            <div class="span3">
                <h5>OUR OFFERS</h5>
                <a href="{{ path('front_office_produits') }}">NEW PRODUCTS</a>
                <a href="{{ path('front_office_specialoffer') }}">TOP SELLERS</a>
                <a href="{{ path('front_office_specialoffer') }}">SPECIAL OFFERS</a>
                <a href="{{ path('front_office_specialoffer') }}">MANUFACTURERS</a>
                <a href="{{ path('front_office_specialoffer') }}">SUPPLIERS</a>
            </div>
            <div id="socialMedia" class="span3 pull-right">
                <h5>SOCIAL MEDIA </h5>
                <a href="{{ path('front_office_specialoffer') }}"><img width="60" src="{{asset('bundles/frontoffice/assets/img/facebook.png')}}" title="facebook"/></a>
                <a href="{{ path('front_office_specialoffer') }}"><img width="60" src="{{asset('bundles/frontoffice/assets/img/twitter.png')}}" title="twitter"/></a>
                <a href="{{ path('front_office_specialoffer') }}"><img width="60" src="{{asset('bundles/frontoffice/assets/img/rss.png')}}" title="rss"/></a>
                <a href="{{ path('front_office_specialoffer') }}"><img width="60" src="{{asset('bundles/frontoffice/assets/img/youtube.png')}}" title="youtube"/></a>
            </div>
        </div>
        <hr class="soft">
        <p class="pull-right">&copy; Boot'sshop</p>
    </div><!-- /container -->

    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/jquery.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/google-code-prettify/prettify.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/application.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-transition.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-modal.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-scrollspy.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-alert.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-dropdown.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-tab.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-tooltip.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-popover.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-button.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-collapse.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-carousel.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-typeahead.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootstrap-affix.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/jquery.lightbox-0.5.js')}}"></script>
    <script src="{{asset('bundles/frontoffice/assets/js/bootsshoptgl.js')}}"></script>
    <script type="text/javascript">
        $(function() {
            $('#gallery a').lightBox();
        });
    </script>
    {% block javascript %}
    {% endblock %}
</body>
</html>