{% extends 'FrontOfficeBundle::layout.html.twig' %}

{% block body %}
<div class="row">
<div id="sidebar" class="span3">
	<ul class="nav nav-list bs-docs-sidenav" style="display: block;">											
		<li class="subMenu"><a> ELECTRONICS [230]</a>
			<ul>
			<li><a class="active" href="{{ path('front_office_produits') }}">Cameras (100)</a></li>
			<li><a href="{{ path('front_office_produits') }}">Computers, Tablets & laptop (30)</a></li>
			<li><a href="{{ path('front_office_produits') }}">Mobile Phone (80)</a></li>
			<li><a href="{{ path('front_office_produits') }}">Sound & Vision (15)</a></li>
			</ul>
		</li>
		<li class="subMenu"><a> CLOTHES [840] </a>
		<ul>
			<li><a href="{{ path('front_office_produits') }}">Women's Clothing (45)</a></li>
			<li><a href="{{ path('front_office_produits') }}">Women's Shoes (8)</a></li>												
			<li><a href="{{ path('front_office_produits') }}">Women's Hand Bags (5)</a></li>	
			<li><a href="{{ path('front_office_produits') }}">Men's Clothings  (45)</a></li>
			<li><a href="{{ path('front_office_produits') }}">Men's Shoes (6)</a></li>												
			<li><a href="{{ path('front_office_produits') }}">Kids Clothing (5)</a></li>												
			<li><a href="{{ path('front_office_produits') }}">Kids Shoes (3)</a></li>												
		</ul>
		</li>
		<li class="subMenu"><a>FOOD AND BEVERAGES [1000]</a>
			<ul>
			<li><a href="{{ path('front_office_produits') }}">Angoves  (35)</a></li>
			<li><a href="{{ path('front_office_produits') }}">Bouchard Aine & Fils (8)</a></li>												
			<li><a href="{{ path('front_office_produits') }}">French Rabbit (5)</a></li>	
			<li><a href="{{ path('front_office_produits') }}">Louis Bernard  (45)</a></li>
			<li><a href="{{ path('front_office_produits') }}">BIB Wine (Bag in Box) (8)</a></li>												
			<li><a href="{{ path('front_office_produits') }}">Other Liquors & Wine (5)</a></li>												
			<li><a href="{{ path('front_office_produits') }}">Garden (3)</a></li>												
			<li><a href="{{ path('front_office_produits') }}">Khao Shong (11)</a></li>												
		</ul>
		</li>
		<li><a href="{{ path('front_office_produits') }}">HEALTH & BEAUTY [18]</a></li>
		<li><a href="{{ path('front_office_produits') }}">SPORTS & LEISURE [58]</a></li>
		<li><a href="{{ path('front_office_produits') }}">BOOKS & ENTERTAINMENTS [14]</a></li>
		<li style="border:0"> &nbsp;</li>						
		<li> <a href="{{ path('front_office_resumerproduit') }}"><strong>3 Items in your cart  <span class="badge badge-warning pull-right" style="line-height:18px;">$155.00</span></strong></a></li>
		<li style="border:0"> &nbsp;</li>	
		<li>
		  <div class="thumbnail">
			<img src="{{ asset('bundles/frontoffice/assets/products/1.jpg') }}" alt="">
			<div class="caption">
			  <h5>Product name</h5>
			  <p> 
				Lorem Ipsum is simply dummy text. 
			  </p>
			  <h4><a class="btn" href="{{ path('front_office_detailproduit') }}">VIEW</a> <span class="pull-right">$222.00</span></h4>
			</div>
		  </div>
		</li>
		<li style="border:0"> &nbsp;</li>		
		<li class="last">
		  <div class="thumbnail">
			<img src="{{ asset('bundles/frontoffice/assets/products/2.jpg') }}" alt="">
			<div class="caption">
			  <h5>Product name</h5>
			  <p> 
				Lorem Ipsum is simply dummy text. 
			  </p>
			  <h4><a class="btn" href="{{ path('front_office_detailproduit') }}">VIEW</a> <span class="pull-right">$222.00</span></h4>
			</div>
		  </div>
		</li> 
	  </ul>
</div>

	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="{{ path('front_office_homepage') }}">Home</a> <span class="divider">/</span></li>
		<li class="active">Products Name</li>
    </ul>
	<h3> Products Name <small class="pull-right"> 40 products are available </small></h3>	
	<hr class="soft"/>
	<p>
		Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - that is why our goods are so popular and we have a great number of faithful customers all over the country.
	</p>
	<hr class="soft"/>
	<form class="form-horizontal span6">
		<div class="control-group">
		  <label class="control-label alignL">Sort By </label>
			<select>
              <option>Priduct name A - Z</option>
              <option>Priduct name Z - A</option>
              <option>Priduct Stoke</option>
              <option>Price Lowest first</option>
            </select>
		</div>
	  </form>
	  
<div id="myTab" class="pull-right">
 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
 <a href="#blockView" data-toggle="tab"><span class="btn btn-large active"><i class="icon-th-large icon-white"></i></span></a>
</div>
<br class="clr"/>
<div class="tab-content">
	<div class="tab-pane" id="listView">
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Product Name </h5>
				<p>
				Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
				that is why our goods are so popular..
				</p>
				<a class="btn btn-small pull-right" href="{{ path('front_office_detailproduit') }}">View Details</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
			<h3> $140.00</h3>
			<label class="checkbox">
				<input type="checkbox">  Adds product to compair
			</label><br/>
			
			  <a href="{{ path('front_office_detailproduit') }}" class="btn btn-large"><i class=" icon-shopping-cart"></i> Add to cart</a>
			  <a href="{{ path('front_office_detailproduit') }}" class="btn btn-large">VIEW</a>
			
				</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="{{ asset('bundles/frontoffice/assets/products/1.jpg') }}" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Product Name </h5>
				<p>
				Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
				that is why our goods are so popular..
				</p>
				<a class="btn btn-small pull-right" href="{{ path('front_office_detailproduit') }}">View Details</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
				<h3> $140.00</h3>
				<label class="checkbox">
				<input type="checkbox">  Adds product to compair
				</label><br/>
				
				<a href="{{ path('front_office_detailproduit') }}" class="btn btn-large"><i class=" icon-shopping-cart"></i> Add to cart</a>
				<a href="{{ path('front_office_detailproduit') }}" class="btn btn-large">VIEW</a>
				
			</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Product Name </h5>
				<p>
				Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
				that is why our goods are so popular..
				</p>
				<a class="btn btn-small pull-right" href="{{ path('front_office_detailproduit') }}">View Details</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
				<h3> $140.00</h3>
				<label class="checkbox">
					<input type="checkbox">  Adds product to compair
				</label><br/>
				
				  <a href="{{ path('front_office_detailproduit') }}" class="btn btn-large"><i class=" icon-shopping-cart"></i> Add to cart</a>
				  <a href="{{ path('front_office_detailproduit') }}" class="btn btn-large">VIEW</a>
				
			</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Product Name </h5>
				<p>
				Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
				that is why our goods are so popular..
				</p>
				<a class="btn btn-small pull-right" href="{{ path('front_office_detailproduit') }}">View Details</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
				<h3> $140.00</h3>
				<label class="checkbox">
				<input type="checkbox">  Adds product to compair
				</label><br/>
				
				<a href="{{ path('front_office_detailproduit') }}" class="btn btn-large"><i class=" icon-shopping-cart"></i> Add to cart</a>
				<a href="{{ path('front_office_detailproduit') }}" class="btn btn-large">VIEW</a>
				
				</form>
			</div>
		</div>
	
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Product Name </h5>
				<p>
				Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
				that is why our goods are so popular..
				</p>
				<a class="btn btn-small pull-right" href="{{ path('front_office_detailproduit') }}">View Details</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
				<h3> $140.00</h3>
				<label class="checkbox">
				<input type="checkbox">  Adds product to compair
				</label><br/>
				
				<a href="{{ path('front_office_detailproduit') }}" class="btn btn-large"><i class=" icon-shopping-cart"></i> Add to cart</a>
				<a href="{{ path('front_office_detailproduit') }}" class="btn btn-large">VIEW</a>
				
				</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Product Name </h5>
				<p>
				Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
				that is why our goods are so popular..
				</p>
				<a class="btn btn-small pull-right" href="{{ path('front_office_detailproduit') }}">View Details</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
				<h3> $140.00</h3>
				<label class="checkbox">
				<input type="checkbox">  Adds product to compair
				</label><br/>
				
				<a href="{{ path('front_office_detailproduit') }}" class="btn btn-large"><i class=" icon-shopping-cart"></i> Add to cart</a>
				<a href="{{ path('front_office_detailproduit') }}" class="btn btn-large">VIEW</a>
				
				</form>
			</div>
		</div>
		<hr class="soft"/>
	</div>

	<div class="tab-pane  active" id="blockView">
		<ul class="thumbnails">
			<li class="span3">
			  <div class="thumbnail">
				<a href="{{ path('front_office_detailproduit') }}"><img src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/></a>
				<div class="caption">
				  <h5>Manicure &amp; Pedicure</h5>
				  <p> 
					I'm a paragraph. Click here 
				  </p>
				  <h4><a class="btn btn-large" href="{{ path('front_office_detailproduit') }}">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="{{ path('front_office_detailproduit') }}"><img src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/></a>
				<div class="caption">
				  <h5>Manicure &amp; Pedicure</h5>
				  <p> 
					I'm a paragraph. Click here 
				  </p>
				  <h4><a class="btn btn-large" href="{{ path('front_office_detailproduit') }}">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="{{ path('front_office_detailproduit') }}"><img src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/></a>
				<div class="caption">
				  <h5>Manicure &amp; Pedicure</h5>
				  <p> 
					I'm a paragraph. Click here 
				  </p>
				   <h4><a class="btn btn-large" href="{{ path('front_office_detailproduit') }}">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="{{ path('front_office_detailproduit') }}"><img src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/></a>
				<div class="caption">
				  <h5>Manicure &amp; Pedicure</h5>
				  <p> 
					I'm a paragraph. Click here 
				  </p>
				   <h4><a class="btn btn-large" href="{{ path('front_office_detailproduit') }}">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="{{ path('front_office_detailproduit') }}"><img src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/></a>
				<div class="caption">
				  <h5>Manicure &amp; Pedicure</h5>
				  <p> 
					I'm a paragraph. Click here 
				  </p>
				   <h4><a class="btn btn-large" href="{{ path('front_office_detailproduit') }}">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="{{ path('front_office_detailproduit') }}"><img src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/></a>
				<div class="caption">
				  <h5>Manicure &amp; Pedicure</h5>
				  <p> 
					I'm a paragraph. Click here 
				  </p>
				   <h4><a class="btn btn-large" href="{{ path('front_office_detailproduit') }}">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			  </div>
			</li>
		  </ul>
	<hr class="soft"/>
	</div>
</div>

	<a href="{{ path('front_office_comparer') }}" class="btn btn-large pull-right">Compair Product</a>
	<div class="pagination">
			<ul>
			<li><a href="#">&lsaquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">&rsaquo;</a></li>
			</ul>
			</div>
			<br class="clr"/>
</div>
</div>
{% endblock %}