{% extends 'FrontOfficeBundle::layout.html.twig' %}

{% block body %}

<div class="row">
	<div id="sidebar" class="span3">
		<ul class="nav nav-list bs-docs-sidenav" style="display: block;">											
			<li class="subMenu"><a> ELECTRONICS [230]</a>
				<ul>
				<li><a class="active" href="products.html">Cameras (100)</a></li>
				<li><a href="products.html">Computers, Tablets & laptop (30)</a></li>
				<li><a href="products.html">Mobile Phone (80)</a></li>
				<li><a href="products.html">Sound & Vision (15)</a></li>
				</ul>
			</li>
			<li class="subMenu"><a> CLOTHES [840] </a>
			<ul>
				<li><a href="products.html">Women's Clothing (45)</a></li>
				<li><a href="products.html">Women's Shoes (8)</a></li>												
				<li><a href="products.html">Women's Hand Bags (5)</a></li>	
				<li><a href="products.html">Men's Clothings  (45)</a></li>
				<li><a href="products.html">Men's Shoes (6)</a></li>												
				<li><a href="products.html">Kids Clothing (5)</a></li>												
				<li><a href="products.html">Kids Shoes (3)</a></li>												
			</ul>
			</li>
			<li class="subMenu"><a>FOOD AND BEVERAGES [1000]</a>
				<ul>
				<li><a href="products.html">Angoves  (35)</a></li>
				<li><a href="products.html">Bouchard Aine & Fils (8)</a></li>												
				<li><a href="products.html">French Rabbit (5)</a></li>	
				<li><a href="products.html">Louis Bernard  (45)</a></li>
				<li><a href="products.html">BIB Wine (Bag in Box) (8)</a></li>												
				<li><a href="products.html">Other Liquors & Wine (5)</a></li>												
				<li><a href="products.html">Garden (3)</a></li>												
				<li><a href="products.html">Khao Shong (11)</a></li>												
			</ul>
			</li>
			<li><a href="products.html">HEALTH & BEAUTY [18]</a></li>
			<li><a href="products.html">SPORTS & LEISURE [58]</a></li>
			<li><a href="products.html">BOOKS & ENTERTAINMENTS [14]</a></li>
			<li style="border:0"> &nbsp;</li>						
			<li> <a href="product_summary.html"><strong>3 Items in your cart  <span class="badge badge-warning pull-right" style="line-height:18px;">$155.00</span></strong></a></li>
			<li style="border:0"> &nbsp;</li>	
			<li>
			  <div class="thumbnail">
				<img src="{{ asset('bundles/frontoffice/assets/products/1.jpg') }}" alt="">
				<div class="caption">
				  <h5>Product name</h5>
				  <p> 
					Lorem Ipsum is simply dummy text. 
				  </p>
				  <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
				</div>
			  </div>
			</li>
			<li style="border:0"> &nbsp;</li>		
			<li class="last">
			  <div class="thumbnail">
				<img src="{{ asset('bundles/frontoffice/assets/products/2.jpg') }}" alt="">
				<div class="caption">
				  <h5>Product name</h5>
				  <p> 
					Lorem Ipsum is simply dummy text. 
				  </p>
				  <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
				</div>
			  </div>
			</li> 
		  </ul>
	</div>

	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active"> SHOPPING CART</li>
    </ul>
	<h3>  SHOPPING CART [ <small>3 Item(s) </small>]<a href="products.html" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>	
	<hr class="soft"/>
	<table class="table table-bordered">
	<tbody>
		<tr><th colspan="2"> I AM ALREADY REGISTERED  </th></tr>
		 <tr> 
		 <td colspan="2">
			<form class="form-horizontal">
			  <div class="control-group">
				<label class="span2 control-label" for="username">Username</label>
				<div class="controls">
				  <input type="text" id="username" placeholder="Username"> 
				</div>
			  </div>
			 </div>
			  <div class="control-group">
				<label class="span2 control-label" for="inputPassword">Password</label> 
				<div class="controls">
				  <input type="password" id="inputPassword" placeholder="Password"> <a href="forgetpass.html">Forgot your password?</a>
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="btn">Sign in</button> <a href="register"> Register now !</a>
				</div>
			  </div>
			</form>				  
		  </td>
		  </tr>
	  </tbody>
	</table>		
			
	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Description</th>
                  <th>Quantity/Update</th>
				  <th>Price</th>
                  <th>Discount</th>
                  <th>Tax</th>
                  <th>Total</th>
				</tr>
              </thead>
              <tbody>
                <tr>
                  <td> <img width="60" src="{{ asset('bundles/frontoffice/assets/products/4.jpg') }}" alt=""/></td>
                  <td>MASSA AST<br/>Color : black, Material : metal</td>
				  <td>
					<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
				  </td>
                  <td>$120.00</td>
                  <td>$25.00</td>
                  <td>$15.00</td>
                  <td>$110.00</td>
                </tr>
				<tr>
                  <td> <img width="60" src="{{ asset('bundles/frontoffice/assets/products/8.jpg') }}" alt=""/></td>
                  <td>MASSA AST<br/>Color : black, Material : metal</td>
				  <td>
					<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
				  </td>
                  <td>$7.00</td>
                  <td>--</td>
                  <td>$1.00</td>
                  <td>$8.00</td>
                </tr>
				<tr>
                  <td> <img width="60" src="{{ asset('bundles/frontoffice/assets/products/3.jpg') }}" alt=""/></td>
                  <td>MASSA AST<br/>Color : black, Material : metal</td>
				  <td>
					<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
				  </td>
                  <td>$120.00</td>
                  <td>$25.00</td>
                  <td>$15.00</td>
                  <td>$110.00</td>
                </tr>
				
                <tr>
                  <td colspan="6" align="right">Total Price:	</td>
                  <td> $228.00</td>
                </tr>
				 <tr>
                  <td colspan="6" align="right">Total Discount:	</td>
                  <td> $50.00</td>
                </tr>
                 <tr>
                  <td colspan="6" align="right">Total Tax:	</td>
                  <td> $31.00</td>
                </tr>
				 <tr>
                  <td colspan="6" align="right"><strong>TOTAL ($228 - $50 + $31) =</strong>	</td>
                  <td class="label label-important"> <strong> $155.00 </strong></td>
                </tr>
				</tbody>
            </table>
		
		
            <table class="table table-bordered">
			<tbody>
				 <tr>
                  <td> 
				<form class="form-inline">
				<label style="min-width:159px"><strong> VOUCHERS CODE:</strong> </label> 
				<input type="text" class="input-medium" placeholder="CODE">
				<button type="submit" class="btn"> ADD</button>
				</form>
				</td>
                </tr>
				
			</tbody>
			</table>
			
			<table class="table table-bordered">
			<tbody>
                <tr><th colspan="2">ESTIMATE YOUR SHIPPING </th></tr>
                 <tr> 
				 <td>
					<form class="form-horizontal">
					  <div class="control-group">
						<label class="span2 control-label" for="inputCountry">Country</label>
						<div class="controls">
						  <input type="text" id="inputCountry" placeholder="Country">
						</div>
					  </div>
					  <div class="control-group">
						<label class="span2 control-label" for="inputPost">Post Code/ Zipcode</label>
						<div class="controls">
						  <input type="text" id="inputPost" placeholder="Postcode">
						</div>
					  </div>
					  <div class="control-group">
						<div class="controls">
						  <button type="submit" class="btn">ESTIMATE</button>
						</div>
					  </div>
					</form>				  
				  </td>
				  </tr>
              </tbody>
            </table>		
	<a href="products.html" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
	<a href="login.html" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>
	
</div>
</div>
{% endblock %}